a > .panel-hover:hover {
  font-weight: bolder;
  font-size: larger;
  box-shadow: 5px 5px 10px;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

.top-20 {
  margin-top: 40px;
}

.info-box {
  background-color: white;
  padding-left: 50px;
  padding-right: 50px;
}

.summary-panel-body {
  padding: 20px;
  font-size: 20px;
}

.summary-panel-heading {
  font-size: 20px;
}

.safari-count-poor {
  color: #cc0000;
}
.safari-count-moderate {
  color: purple;
}

@media screen and (max-height: 1080px) {
  a > .panel-hover:hover {
    font-weight: bold;
    font-size: medium;
  }

  .top-20 {
    margin-top: 20px;
  }

  .info-box {
    padding-left: 20px;
    padding-right: 20px;
  }

  .summary-panel-body {
    padding: 10px;
    font-size: 12px;
  }

  .summary-panel-heading {
    font-size: 14px;
  }
}
