<div class="container-fluid" style="margin-top:80px;">
  <div class="row">
    <div class="col-lg-2"></div>
    <div class="col-lg-8 card info-box">
      <div class="title text-center">
        <h2>{{greetingText}}, {{userName | uppercase}}</h2>
        <h2>Your Tours Summary</h2>
      </div>
      <!-- Sorting Start-->
      <div class="row">
        <div class="col-lg-2 float-right">
          <div class="form-inline" [formGroup]="sortForm">
            <label for="sort-by" class="control-label">Group By</label> &nbsp;&nbsp;
            <select id="sort-by" class="form-control" formControlName="sortBy" (change)="groupData()">
              <option value="location">Location</option>
              <option value="year">Year</option>
            </select>
          </div>
        </div>
      </div>
      <!-- Sorting End-->

      <!-- Collapsible Panel Start-->
      <div class="row">
        <div class="col-lg-12 margin-top-x-lg">
          <div class="panel-group" *ngFor="let summary of summaryResponse.summaries; let i=index;">
            <div class="panel panel-default margin-top-x-lg" >
              <div class="panel-heading">
                <h3 class="panel-title font-xx-lg">
                  <a class="panel-title-text" href="#panelBody{{i}}" data-toggle="collapse">{{summary.label}} {{summary.groupByValue}}
                  <span class="pull-right">Total {{summary.tourCount}} tour{{summary.tourCount > 1 ? 's' : ''}}</span>
                  </a>
                </h3>
              </div>
              <div id="panelBody{{i}}" class="panel-body collapse in">
                <div class="well well-sm font-md" *ngFor="let tour of summary.tours">
                  <a [routerLink]="['/tours', tour.tourId]">From {{tour.startDate | date}} to {{tour.endDate | date}}
                  <span class="pull-right">{{tour.spottedAnimals.length}} spotted animal{{tour.spottedAnimals.length > 1 ? 's' : ''}}</span>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Collapsible Panel End-->

    </div>
  </div>
</div>
