<div class="container-fluid" style="margin-top:80px;">
  <div class="row">
    <div class="col-lg-2"></div>
    <div class="col-lg-8 card info-box">
      <div class="title text-center">
        <h2>{{greetingText}}, {{userName | uppercase}}</h2>
        <h2>Your Tours Summary</h2>
      </div>
      <!-- Sorting Start-->
      <div class="row">
        <div class="col-lg-4 pull-right">
          <div class="form-inline" [formGroup]="sortForm">
            <label for="sort-by" class="control-label">Sort By</label> &nbsp;&nbsp;
            <select id="sort-by" class="form-control" formControlName="sortBy">
              <option value="location">Location</option>
              <option value="startDate">Start Date</option>
            </select>
            &nbsp;&nbsp;
            <label for="sort-type" class="control-label">Type</label> &nbsp;&nbsp;
            <select id="sort-type" class="form-control" formControlName="sortType">
              <option value="asc">Ascending</option>
              <option value="desc">Descending</option>
            </select>
          </div>
        </div>
      </div>
      <!-- Sorting End-->

      <!-- Collapsible Panel Start-->
      <div class="row">
        <div class="col-lg-12 margin-top-x-lg">
          <div class="panel-group" *ngFor="let summary of summaryList; let i=index;">
            <div class="panel panel-default margin-top-x-lg" >
              <div class="panel-heading">
                <h3 class="panel-title font-xx-lg">
                  <a class="panel-title-text" href="#panelBody{{i}}" data-toggle="collapse">Tour{{summary.tours.length > 1 ? 's' : ''}} to {{summary.location.locationName}}
                  <span class="pull-right">Total {{summary.tours.length}} tour{{summary.tours.length > 1 ? 's' : ''}}</span>
                  </a>
                </h3>
              </div>
              <div id="panelBody{{i}}" class="panel-body collapse in">
                <div class="well well-sm font-md" *ngFor="let tour of summary.tours">
                    <a [routerLink]="['/tours', tour.tourId]">From {{tour.startDate | date}} to {{tour.endDate | date}}</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Collapsible Panel End-->

    </div>
  </div>
</div>
