<div class="container-fluid" style="margin-top: 3%;">
  <div class="row">
    <!--<div class="col-sm-2"></div>-->
    <div class="col-sm-12">
      <div class="panel-hover">
        <div class="panel panel-default">
          <div class="panel-heading summary-panel-heading">
            <h3>Tour to {{tour.location.locationName}} from {{tour.startDate | date}} to {{tour.endDate | date}}</h3>
          </div>
          <div class="panel-body summary-panel-body">
            <div class="row">
              <div class="col-sm-4"></div>
              <div class="col-sm-2 text-center">
                <h3>Safaris completed</h3>
                <h1 [ngClass]="tour.safaris > 1 ? 'safari-count-moderate' : 'safari-count-poor'">{{tour.safaris}}</h1>
              </div>
              <div class="col-sm-4 text-center">
                <table class="">
                  <tr>
                    <td style="width: 350px;"><h4 style="font-size: x-large">Spotted Animals</h4></td>
                    <td class="padding-md">
                      <h4>
                        <a class="btn btn-sm btn-primary" (click)="navigateToAddAnimal();">
                          <span class="glyphicon glyphicon-plus"></span> Add More
                        </a>
                      </h4>
                    </td>
                  </tr>
                  <tr *ngFor="let animal of spottedAnimals">
                    <td><a>{{animal.animalName}}</a></td>
                  </tr>
                </table>
              </div>
            </div>
          </div>
          <div class="panel-footer text-center">
            <div class="btn-block">
              <a class="btn btn-default btn-lg" routerLink="/home" title="Back to summary page"><span
                class="fa fa-hand-o-left"></span>&nbsp;Back</a>
              &nbsp;&nbsp;&nbsp;&nbsp;
              <a class="btn btn-primary btn-lg" title="Edit this tour" (click)="navigateToEditTour()">
                <span class="fa fa-edit"></span>&nbsp;Edit</a>
            </div>
            <div class="clearfix"></div>
          </div>
        </div>
      </div>
    </div>
    <!--<div class="col-sm-2"></div>-->
  </div>
</div>
