.action > a:hover {
  cursor: pointer;
}

.label-col {
  width: 400px;
}
.data-col {
  width: 600px;
}

.filmstrip {
  min-height: 40vh;
  border: 1px solid rgba(165, 165, 165, 0.46);
  border-radius: 5px;
}

.animal-thumbnail {
  min-height: 5vh;
}
