<div class="container-fluid">
  <div class="center-block animal-card">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h2>{{formTitleText}}</h2>
      </div>
      <div class="panel-body font-md">

        <div class="row" [class.large-margin-top]="!showForm" [class.large-padding]="!showForm && !showDropdown">
          <div class="col-sm-3"></div>
          <div class="col-sm-6" [formGroup]="recordTypeSelectorForm">
            <ul class="list-inline text-center margin-top-sm">
              <li>
                <label for="existing"><a>Add existing animal image</a></label>&nbsp;
                <input type="radio" id="existing" formControlName="recordTypeSelector" value="existing">
              </li>
              &nbsp;&nbsp;
              <li>
                <label for="new"><a>Add new animal record</a></label>&nbsp;
                <input type="radio" id="new" formControlName="recordTypeSelector" value="new">
              </li>
            </ul>
          </div>
        </div>

        <div class="row form-group animal-selector" *ngIf="showDropdown"
             [class.large-padding]="!showForm && showDropdown">
          <div class="col-sm-3 text-right">
            <label for="existingAnimalSelector" class="control-label">Select spotted animal<sup class="required">*</sup></label>
          </div>
          <div class="col-sm-6" [formGroup] = animalDropDownForm>
            <select class="form-control input-lg background-white" id="existingAnimalSelector"
              formControlName="selectedAnimal" (change)="loadAnimalForLink()">
              <option value="-1">--Select One--</option>
              <option *ngFor="let model of allAnimals; let i=index;"
                      [value]="i">{{model.animalName}}</option>
            </select>
          </div>
          <div class="col-sm-3"></div>
        </div>


        <div [formGroup]="animalForm" class="standard-padding" *ngIf="showForm">
          <!-- Row 1 : Animal Name-->
          <div class="row form-group" [ngClass]="{'has-error': formErrors.animalName}">
            <div class="col-sm-3 text-right">
              <label for="animalName" class="control-label">Animal Name<sup class="required">*</sup></label>
            </div>
            <div class="col-sm-6">
              <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-user-o font-x-lg"></i></span>
                <input class="form-control input-lg background-white" id="animalName" formControlName="animalName"
                       [attr.readonly]="linking ? 'readonly' : null"
                       placeholder="Name of the animal"
                       (blur)="validateForm(animalForm)">
              </div>
            </div>
            <div class="col-sm-3">
              <span *ngIf="formErrors.animalName">
                <small class="float-right required">{{formErrors.animalName}}</small>
              </span>
            </div>
          </div>
          <!-- Row 1 complete -->

          <!-- Row 2 Start -->
          <div class="row form-group" [ngClass]="{'has-error': formErrors.scientificName}">
            <div class="col-sm-3 text-right">
              <label for="scientificName" class="control-label">Scientific Name<sup class="required">*</sup></label>
            </div>
            <div class="col-sm-6">
              <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-user-o font-x-lg"></i></span>
                <input class="form-control input-lg background-white" id="scientificName"
                       [attr.readonly]="linking ? 'readonly' : null"
                       formControlName="scientificName"
                       placeholder="Scientific name of the animal"
                       (blur)="validateForm(animalForm)">
              </div>
            </div>
            <div class="col-sm-3">
              <span *ngIf="formErrors.scientificName">
                <small class="float-right required">{{formErrors.scientificName}}</small>
              </span>
            </div>
          </div>
          <!-- Row 2 complete -->
          <!-- Row 3 Start -->
          <div class="row form-group" [ngClass]="{'has-error': formErrors.gender}">
            <div class="col-sm-3 text-right">
              <label for="gender" class="control-label">Gender<sup class="required">*</sup></label>
            </div>
            <div class="col-sm-6">
              <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-user-o font-x-lg"></i></span>
                <select class="form-control input-lg background-white" id="gender" formControlName="gender"
                        [attr.readonly]="linking ? 'readonly' : null"
                        [ngClass]="resolveClass('gender')">
                  <option value="">--Select One--</option>
                  <option value="MALE">Male</option>
                  <option value="FEMALE">Female</option>
                  <option value="YOUNG">Young</option>
                </select>
              </div>
            </div>
            <div class="col-sm-3">
              <span *ngIf="formErrors.gender">
                <small class="float-right required">{{formErrors.gender}}</small>
              </span>
            </div>
          </div>
          <!-- Row 3 Complete -->
          <!-- Row 4 Start -->
          <div class="row form-group" [ngClass]="{'has-error': formErrors.animalType}">
            <div class="col-sm-3 text-right">
              <label for="animalType" class="control-label">Animal Type<sup class="required">*</sup></label>
            </div>
            <div class="col-sm-6">
              <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-user-o font-x-lg"></i></span>
                <select class="form-control input-lg background-white" id="animalType"
                        [attr.readonly]="linking ? 'readonly' : null"
                        [ngClass]="resolveClass('animalType')" formControlName="animalType">
                  <option value="">--Select One--</option>
                  <option *ngFor="let animalType of animalTypeList"
                          [value]="animalType.getSelfLink()">{{animalType.animalTypeName}}</option>
                </select>
              </div>
            </div>
            <div class="col-sm-3">
              <span *ngIf="formErrors.animalType">
                <small class="float-right required">{{formErrors.animalType}}</small>
              </span>
            </div>
          </div>
          <!-- Row 4 Complete -->
          <!-- Row 5 Start -->
          <div class="row form-group" [ngClass]="{'has-error': formErrors.foodHabit}">
            <div class="col-sm-3 text-right">
              <label for="foodHabit" class="control-label">Food Habit<sup class="required">*</sup></label>
            </div>
            <div class="col-sm-6">
              <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-user-o font-x-lg"></i></span>
                <select class="form-control input-lg background-white" id="foodHabit"
                        [attr.readonly]="linking ? 'readonly' : null"
                        [ngClass]="resolveClass('foodHabit')" formControlName="foodHabit">
                  <option value="">--Select One--</option>
                  <option *ngFor="let foodHabit of foodHabitList"
                          [value]="foodHabit.getSelfLink()">{{foodHabit.foodHabitType}}</option>
                </select>
              </div>
            </div>
            <div class="col-sm-3">
              <span *ngIf="formErrors.foodHabit">
                <small class="float-right required">{{formErrors.foodHabit}}</small>
              </span>
            </div>
          </div>
          <!-- Row 5 Complete -->
          <!-- Row 6 Start -->
          <div class="row form-group" [ngClass]="{'has-error': formErrors.existenceStatus}">
            <div class="col-sm-3 text-right">
              <label for="existenceStatus" class="control-label">Existence Status<sup class="required">*</sup></label>
            </div>
            <div class="col-sm-6">
              <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-user-o font-x-lg"></i></span>
                <select class="form-control input-lg background-white" id="existenceStatus"
                        [attr.readonly]="linking ? 'readonly' : null"
                        [ngClass]="resolveClass('existenceStatus')" formControlName="existenceStatus">
                  <option value="" class="placeholder-option">--Select One--</option>
                  <option *ngFor="let existenceStatus of existenceStatusList" [value]="existenceStatus.getSelfLink()">
                    {{existenceStatus.existenceStatus}}
                  </option>
                </select>
              </div>
            </div>
            <div class="col-sm-3">
              <span *ngIf="formErrors.existenceStatus">
                <small class="float-right required">{{formErrors.existenceStatus}}</small>
              </span>
            </div>
          </div>
          <!-- Row 6 Complete -->
          <!-- Row 7 Start -->
          <div class="row form-group" [ngClass]="{'has-error': formErrors.imageLink}">
            <div class="col-sm-3 text-right">
              <label for="resourceImage" class="control-label">Link An Image<sup class="required">*</sup></label>
            </div>
            <div class="col-sm-6">
              <div class="input-group cust">
                <span class="input-group-addon"><i class="glyphicon glyphicon-camera"></i></span>
                <input type="file" accept="image/*"
                       (change)="selectImage($event)"
                       class="form-control input-lg background-white" id="resourceImage"
                       formControlName="imageLink"
                       placeholder="Link an image"
                       (blur)="validateForm(animalForm)">
                <span class="input-group-addon">
                  <button class="btn btn-sm btn-primary"
                          [disabled]="(animalForm.get('imageLink').pristine || animalForm.get('imageLink').invalid) || !this.fileToBeUploaded  ? 'disabled' : null"
                          (click)="uploadImage()">
                    <i *ngIf="!uploadInProgress" class="glyphicon glyphicon-upload"></i>
                    <i *ngIf="uploadInProgress" class="fa fa-circle-o-notch fa-spin" style="font-size:24px"></i>
                    Upload Image
                  </button>
                </span>
              </div>
              <!--
              (click)="fileInput.value ? uploadImage(fileInput.value) : fileInput.click()"
              (click)="fileInput.click()"
                        [value]="fileInput.value"
              <input type="file" formControlName="imageLink" class="hidden" #fileInput>
              -->
            </div>

            <div class="col-sm-3">
              <span *ngIf="formErrors.imageLink">
                <small class="float-right required">{{formErrors.imageLink}}</small>
              </span>
              <span *ngIf="uploadStatus && uploadStatus === 'success'" class="padding-md">
                <span class="glyphicon glyphicon-ok font-x-lg success-icon"></span>
              </span>
            </div>
          </div>
          <!-- Row 7 Complete -->
          <div class="row" *ngIf="imgUrl">
            <div class="col-sm-3"></div>
            <div class="col-sm-6">
              <img [src]="imgUrl" height="200">
            </div>
          </div>
        </div>
      </div>
      <div class="panel-footer text-center">
        <div class="btn-group">
          <button class="btn btn-lg btn-primary" [routerLink]="['/tours', currentTour.tourId]">Back to Details</button>
          <button class="btn btn-lg btn-default" (click)="resetForm()"
                  [attr.disabled]="animalForm.pristine ? 'disabled' : null">
            <span class="glyphicon glyphicon-refresh"></span>&nbsp;&nbsp;Reset
          </button>
          <button class="btn btn-lg btn-primary" (click)="saveAnimal()"
                  [attr.disabled]="animalForm.pristine || !animalForm.valid ? 'disabled' : null">
            <span class="glyphicon glyphicon-floppy-disk"></span>&nbsp;&nbsp;Save
          </button>
        </div>
        <div class="clearfix"></div>
      </div>
    </div>
  </div>
</div>
<app-form-tester [form]="animalForm"></app-form-tester>
