.animal-card {
  width: 1250px;
  margin-top: 80px;
}

.title {
  width: 999px;
}

.text {
  color: #555555;
}

.placeholder-text {
  color: darkgray;
}

a:hover {
  cursor: pointer;
}
a {
  color: steelblue;
}


.animal-selector {
  margin-top: 10px;
  padding-left: 30px;
  padding-right: 30px;
}

.large-margin-top {
  margin-top: 100px;
}
.large-padding {
  padding-bottom: 80px;
}
