<div class="container-fluid" style="margin-top: 4%;">
  <div class="row">
    <div class="col-sm-2"></div>
    <div class="col-sm-8">
      <div class="panel panel-primary ">
        <div class="panel-heading font-lg">
          Tour to {{tour.location.locationName}}
        </div>
        <div class="panel-body padding-x-lg font-lg">
          <div class="row">
            <div class="col-sm-4">

            </div>
            <div class="col-sm-4">
              <table>
                <tr>
                  <td class="text-right padding-md">Start Date :</td>
                  <td class="padding-md">{{tour.startDate | date}}</td>
                </tr>
                <tr>
                  <td class="text-right padding-md">End date :</td>
                  <td class="padding-md">{{tour.endDate | date}}</td>
                </tr>
              </table>
            </div>
          </div>
        </div>
        <div class="panel-footer">
            <a class="btn btn-primary btn-lg pull-right" routerLink="/home">Back to summary</a>
            <div class="clearfix"></div>
        </div>
      </div>
    </div>
    <div class="col-sm-2"></div>
  </div>
</div>
